.riddle-password:focus,.standard-button:focus {
    outline: 0;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
    background-image: url(../images/bg.png);
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none!important;
    color: #ffb300;
}

a:hover {
    text-decoration: underline;
    color: #ffb300;
}


*,:after,:before {
    box-sizing: border-box;
}

@font-face {
    font-family:avgardn;
    src:url(../css/Avgardn.ttf) format("truetype");
}

h1,h2,h3,h4,h5,h6 {
    font-family: avgardn,sans-serif;
    font-weight: 800;
    color: #ffb300;
}

h1 {
    font-size: 240%;

}

div,li,p {
    font-family: avgardn,Arial,Helvetica,sans-serif;
    font-weight: 400;
}

p {
    color: #bdf400;
}

.no-decoration-link {
    color: #ffb300;
}

.no-decoration-link:active,.no-decoration-link:hover,.no-decoration-link:visited {
    color: #ffb300;
    text-decoration: none;
}

.standard-link {
    color: #bdf400;
}

.standard-link:active,.standard-link:hover,.standard-link:visited {
    color: #bdf400;
    text-decoration: none;
}

.standard-button {
    width: 8%;
    min-width: 115px;
    color: #FFB300;
    background-color: rgba(48,48,48,.8);
    padding: 8px;
    line-height: normal;
    border-radius: 18px;
    margin-top: 1%;
    font-weight: 400;
    border: 1px solid #000;
    text-align: center;
}

.nav-entry:hover,.navigation {
    background-color: rgba(200,200,200,.05);
}

.block,.col-big,.riddle-headline {
    border-radius: 5px;
}

.standard-button:hover {
    color: #bdf400;
}

.nav-entry,.nav-entry:link,.nav-entry:visited {
    color: #FFB300;
}

.standard-button:active {
    position: relative;
    top: 1px;
}

.navigation {
    clear: both;
    width: 8%;
    min-width: 130px;
    padding-top: 1%;
    text-align: left;
    display: inline-block;
    left: 0;
    top: 1%;
    z-index: 1;
}


.navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-entry {
    font-family: avgardn,sans-serif!important;
    font-weight: 800;
    font-size: 28px;
    display: block;
    width: 100%;
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    .nav-entry {
        font-size: 16px;
    }
}

.side-helper,li {
    font-family: avgardn,sans-serif;
}

.nav-entry:hover {
    color: #FFB300;
}

#nav-active {
    background-color: rgba(189,244,96,.15);
}

#logo {
    clear: both;
    float: right;
    display: inline-block;
    position: relative;
    width: 26%;
    min-width: 120px;
    margin: 2% 10% 0.5% 0;
}

.main-layout {
    background-color: rgba(200,200,200,.05);
    padding: 3% 3% 3% 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.main-article {
    margin-top: 1.5%;
    display: block;
    color: #bdf400;
    font-size: 18px;
    line-height: 150%;
}

.main-article a {
    color: #ffb300;
}

.main-article a:hover {
    text-decoration: underline;
    color: #ffb300;
}

.main-article p {
    margin-left: 3%;
}

.col-frame {
    padding: 0 5%;
    margin: 0 auto;
}

.col-big {
    height: 100%;
    width: 30%;
    position: relative;
    min-width: 200px;
    min-height: 18em;
    float: left;
    margin: 1% 5% 1% 0;
    align-self: center;
    text-align: center;
}



.col-big:hover {
    box-shadow: 0 -3px #bdf400;
}

.col-big p {
    color: #bdf400;
    font-size: 20px;
    line-height: 150%;
}

.col-background {
    background-color: rgba(0,0,0,.6);
    width: 100%;
}

.col-big h2 {
    font-size: 240%;
    color: #FFB300;
    margin: 0 0 10%;
    padding-top: 5%;
}

.col-big a {
    display: block;
    width: auto;
    height: 100%;
    min-height: 18em;
}

.col-big a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .col-frame { margin: 1% 0 1% 0%;}
    .col-big {
        width: 100%;
    }
}

.first {
    background: rgba(0,0,0,.6) url(../images/street.jpg) no-repeat center;
}

.second {
    background: rgba(0,0,0,.6) url(../images/pen.jpg) no-repeat center;
}

.third {
    background: rgba(0,0,0,.6) url(../images/book.jpg) no-repeat center;
    margin-right: 0;
}

.side-layout {
    padding: 2em;
}

#small-logo {
    clear: both;
    float: right;
    display: inline-block;
    position: relative;
    width: 10%;
    min-width: 80px;
    margin: 2% 19% 0.5% 0;
}

.impressum {
    margin-top: 1.5%;
    display: block;
    color: #bdf400;
    font-size: 18px;
}

.impressum a {
    color: #ffb300;
}

.impressum a:hover {
    text-decoration: underline;
    color: #ffb300;
}

.impressum p {
    margin-left: 1%;
    margin-top: 10px;
    font-size: 16px;
}

.impressum h3 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 28px;
    text-align: center;
}

.impressum h5 {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
}

.impressum ul {
    margin: 10px 0 0 3%;
    font-size: 16px;
    list-style-type: disc;
}

.impressum-button {
    display: inline-block;
    float: right;
    background: rgba(0,0,0,0);
    color: #bdf400;
}

#english  {
    display: none;
}

.backToTop-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    //background: rgba(0,0,0, 0.2);
    background: url(../images/arrowUp.png) center;

}





.riddle-container {
    margin: 0 auto;
    padding: 1% 1.5%;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: rgba(150,150,150,.05);
    width: 64%;
    min-width: 300px;
}

.block,.clickMe {
    position: absolute;
}

.riddle-headline {
    background-color: rgba(200,200,200,.05);
    padding: 0.75% 5%;
    width: 64%;
    min-width: 300px;
    margin-bottom: 1em;
    padding: 2% 0.5%;
}

@media only screen and (min-width: 1200px) {
    .riddle-frame {
        position: absolute;
        top: 30px;
        width: 70%;
        margin-left:14%;
    }
    .riddle-container, .riddle-headline {
        width: 90%;
    }

    #small-logo {
        margin: 20px 2% 0 0;
    }


}

.image-riddle {
    height: 64%;
    width: 64%;
    min-width: 200px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.image-riddle-big {
    width: 100%;
    min-width: 200px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.clickMe {
    display: block;
    left: 38.3%;
    top: 19%;
    height: 20px;
    width: 20px;
    z-index: 1;
    //border: 1px solid red;
}



.text-riddle {
    background-color: rgba(0,0,0,.15);
    margin: 0 auto;
    text-align: center;
    width: 64%;
    min-width: 280px;
    padding: 1%;
    font-size: 120%;
}

.text-riddle td {
    font-size: 120%;

}

.riddle-table {
    color: #bdf400;
    width: 80%;
    margin: 1% auto 0.5% auto;
}

.riddle-table td {
    text-align: center;
    border: none;
    height: 1.4em;
}

.riddle-form {
    color: #ffb300;
    padding: 10px;
}

.riddle-password {
    height: 2%;
    width: 15%;
    min-height: 25px;
    min-width: 150px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #ffb300;
    border-bottom: 1px solid #ffb300;
    text-align: center;
}

.password-label {
    display: block;
    color: #ffb300;
    font-size: 80%;
}

.side {
    display: flex;
    justify-content: center;
    float: left;
    width: 50%;
    min-height: 200px;
    padding: 10px;
}

.side-inner {
    height: auto;
    width: 80%;
    align-self: center;
}

#riddle-phrase {
    color: transparent;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#green:hover {
    color: green;
}

#red:hover {
    color: red;
}

#blue:hover {
    color: #87C0DE;
}

#yellow:hover {
    color: #ff0;
}

.block {
    height: 200px;
    width: 200px;
    background-color: #000;
    display: inline-block;
    top: 100px;
    border: 1px solid #bdf400;
}

.side-helper,.success-window, .input-window {
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,.9);
    border-radius: 5px;
    padding: 40px 1.5%;
}

.area {
    height: 20%;
    width: 60%;
}

.side-helper {
    height: auto;
    width: 40%;
    min-width: 240px;
    top: 30%;
    right: 0%;
    overflow: hidden;
    display: none;
    transition: 0.3s ease-in-out;
    color: #FFB300;
    font-size: 120%;
}


@media only screen and (max-width: 800px) {
    .side-helper {
        overflow: hidden;
        width: auto;
        right: 0;
        top: 0;
        margin: 0 auto;
    }
    .riddle-container {
        width: 100%;
        min-width: 300px;
    }

    .image-riddle {
        width: 100%;
    }

    .clickMe {
        left: 30%;
        top: 16%;
        height: 20px;
        width: 20px;
        z-index: 1;

    }

    .text-riddle {
        width: 100%;
    }

    .riddle-headline {
        width: 100%;
        margin-top: 5px;
    }
}



.side-helper p {
    color: #FFB300;
//font-weight: bold;
}

#riddle-description {
    color: #FFB300;
    font-size: 120%;
}

.side-helper ol {
    list-style-type: decimal;
    margin-left: 28px;
}

.side-helper li {
    color: #FFB300;
    font-size: 90%;
}

.side-helper .text-danger {
    color: #bdf400;
    font-weight: 700;
}

#walktrough {
    display: none;
}

#walktrough-button {
    background-color: rgba(0,0,0,0);
    margin: 10px 0 0 10px;
    padding: 0px;
}

.success-window {
    height: auto;
    width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -90px 0 0 -180px;
    overflow-x: hidden;
    color: #FFB300;
    display: none;
    text-align: center;
}

.success-window p {
//font-variant: small-caps;
    font-size: 120%;
}

.success-window button {
    width: 10%;
    min-width: 130px;
}

.text-note {
    color: #bdf400;
    font-size: 12px;
}

.collection {
    width: 100%;
    padding: 20px 5%;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
}

.level-block {
    background-color: rgba(150,150,150,.05);
    border: none;
    margin: 5px;
    text-align: center;
    padding: 10px 0;
}

.level-block a,.level-block a:hover,.level-block a:link,.level-block a:visited {
    color: #ffb300;
}

.userPage-level-block {
    color: #bdf400;
    padding: 10px 0;
}

.collection-headline {
    font-size: 140%;
    margin-bottom: 5px;

}

.registration-form {
    padding: 1%;
}

.registration-input {
    height: 25px;
    width: 220px;
    margin-top: 1%;
    margin-bottom: 0.5%;
    background-color: rgba(0,0,0,0);
    margin-left: 10px;
    border: none;
    color: #ffb300;
    border-bottom: 1px solid #ffb300;
    outline: none;
}

.registration-table td {
    height: 1.8em;
    vertical-align: bottom;

}

.registration-box {
    width: 100%;
    min-width: 320px;
    padding: 15px;
}

.footer {
    right: 0;
    bottom: 0;
    color: #000;
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
}

.footer a {
    color: rgba(150, 150,150, 0.5);
    padding: 0 5px 0 5px;
}

.authenticated {
    height: 50px;
    width: auto;
    position: absolute;
    right: 100px;
    top: -50px;
    z-index: 1;
    display: flex;
    font-size: 16px;
    background-color: rgba(0,0,0,0.65);
    padding: 5px 20px 5px 20px;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.username {
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}

.username:hover,.username:link,.username:visited {
    color: #ffb300;
}

.points {
    align-self: center;
}

.profile-opener {
    width: 50px;
    height: 50px;
    display: inline;
    background: url(../images/arrowDown.png) center;
    background-size: 40px 40px;
    border:none;
    outline: none;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.profile-opener-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
    background-color: rgba(0,0,0,0.65);
}

@media only screen and (max-width: 800px) {
    .authenticated {
        width: auto;
        position: relative;
        right: 0;
        top: 0;
        margin: 0 auto;
    }
    .profile-opener {
        display: none;
    }
    .profile-opener-button {
        display: none;
    }
}


.logout-button {
    float: right;
    color: #FFB300;
    background: url(../images/logout.png) center;
}

.small-button {
    width: 32px;
    height: 32px;
    margin: 5px 5px 5px 20px;
    background-size: 32px;
    border: none;
    outline: none;
}

.error {
    margin-top: 15px;
    font-size: 120%;
}

.profile-overview {
    background-color: rgba(200,200,200,.05);
    padding: 1%;
    width: 64%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5px;
    display: flex;
}

.profile-col {
    width: 33%;
    position: relative;
    padding: 0 1%;
    float: left;
    align-self: center;
    text-align: center;
}

.profile-col img {
    width: 80%;
    max-width: 256px;
    height: auto;
}

.username-col {
    font-size: 120%;
}

.username-col h3 {
    font-size: 150%;
}

.username-col p {
    margin-top: 10%;
}


.points-col {
    font-size: 250%;
    text-align: right;
    line-height: 200%;
}


.edit-button {
    float: left;
    color: #FFB300;
//background: url(../images/settings.png) center;
    clear: both;
    margin: 0 0 5% 0;
}

@media only screen and (max-width: 800px) {
    .profile-overview {
        width: 100%;
        margin: 2% auto 0;
        min-width: 300px;
        font-size: 65%;
    }
    .profile-col img {
        width: 60%

    }
}

.textarea {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    vertical-align: bottom;
    margin: 10px 0;
    color: #FFB300;
    outline-color: #FFB300;
    overflow: auto;
}

.userMessage {
    word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
    .registration-box td {
        display: block;
    }
    .registration-box tr {
        height: 80%;
    }
    .textarea {
        width: 70%;
    }
}

.delete {
    float: right;
    color: #ff4400 !important;
}


.riddle1-block {
    position: absolute;
    //border: 1px solid red;
    width: 13%;
    display: inline-block;
    display: block;
    left: 66%;
    top: 68.5%;
    z-index: 1;
}

.riddle1-block img {
    width: 100%;
    height: auto;
}

.riddle1-clickMe {
    position: absolute;
    display: block;
    left: 70.5%;
    top: 57.5%;
    height: 38px;
    width: 42px;
    //border: 1px solid red;
    z-index: 1;
}

.cypher-book {
    position: absolute;
    top: 5%;
    left: 15%;
    display: none;
    width: 70%;
    height: auto;
    min-width: 250px;
    padding: 15px;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;
}

.closer-button {
    position: absolute;
//border: 1px solid red;
    top: 5px;
    right: 5px;
    color: #FFB300;
    background-color: rgba(0,0,0,0.5);
    margin: 0px;
    padding: 0px;
    z-index: 3;

}

.riddleTargetBlock {
    width: 25px;
    height: 25px;
    position: absolute;
    //border: 1px solid red;
    z-index: 4;
}

.input-window {
    height: auto;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 35%;
    color: #FFB300;
    display: none;
    text-align: center;
    z-index: 5;
    min-width: 280px;
    font-size: 120%;
}


.riddle1-target {
    left: 77%;
    top: 40.5%;
}

@media only screen and (max-width: 1200px) {

    .riddle1-clickMe {
        left: 70.5%;
        top: 54.5%;
        height: 30px;
        width: 30px;

    }

    .riddle1-block {
        top: 65%;
    }
    .cypher-book {
        width: 100%;
        left: 0;
    }

    .riddle1-target {
        left: 77%;
        top: 37%;

    }

}

@media only screen and (max-width: 600px) {


    .riddle1-clickMe {
        left: 69.5%;
        top: 52.5%;

    }

    .riddle1-block {
        top: 64%;
    }
    .riddle-target {
        left: 75%;
        top: 37%;

    }

}

.textHolder {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-bottom: 0;
    overflow-y: scroll;
    overflow-wrap: normal;
    word-wrap: break-word;
}

.textHolder div {
    margin-left : 10px;
    color:#ffb300;
    margin-bottom: 5px;
    font-size: 18px;
}

.textHolder a {

}

.textHolder::-webkit-scrollbar {
    width: 12px;
}

.textHolder::-webkit-scrollbar-track {

}

.textHolder::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.9);
    border-radius: 8px;
}


.textInput {
    margin: 0 0 0 10px;
    width: 85%;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #bdf400;
    border: none;
    padding: 5px 0 5px 5px;

}

.input-div {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.5);
}

.submit-button {
    padding: 6px 2px;
    float: right;
    color: #FFB300;
    border: none;
    outline: none;
    background-color: rgba(0,0,0, 0.5);
}

@media only screen and (max-width: 600px) {
    .textInput {
        width: 80%;
        margin: 0;
        padding: 5px 0;
    }
}

@media only screen and (max-height: 800px) {
    .textHolder {
        height: 350px;
    }
}

@media only screen and (max-height: 650px) {
    .textHolder {
        height: 250px;
    }
}

.leaderboard-container {
    width: 80%;
    padding: 15px;
    margin: 0 auto;
}

.leaderboard-table {
    color: #bdf400;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;

}

.leaderboard-table th {
    font-size: 22px;
    font-weight: bold;
    color: #ffb300;
    border-bottom: 1px solid #FFB300;
}

.leaderboard-table tr {
    padding: 15px 10px;
    text-align: center;
    width: 10%;
}

.leaderboard-username {
    width: 80%;
}

.user-search {
    display: none;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}