<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--/*@thymesVar id="errorID" type="message"*/-->
    <title th:text="#{${errorID}}"></title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{|/css/bootstrap.min.css#{css.version}|}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.min.css" th:href="@{|/css/main.min.css#{css.version}|}" />
    <link rel="shortcut icon" type="image/x-icon" media="all" href="../static/images/icons/favicon.ico" th:href="@{/images/icons/favicon.ico}"/>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div id="small-logo">
            <a href="#" th:href="@{/}"><img src="../static/images/logo2.png" th:src="@{/images/logo2.png}" alt="logo" width="150" height="70"></img></a>
        </div>
    </div>
        <!--/*@thymesVar id="errorID" type="fragment"*/-->
    <th:block>
        <div th:replace="fragments/errorPages::${errorID}"></div>
    </th:block>
    <br></br>
    <br></br>
        <a class="standard-button" href="/" th:href="@{/}">Back to Home Page</a>
    <div>
    </div>

</div>


</body>
</html>