<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--/*@thymesVar id="title" type="message"*/-->
    <title th:text="#{${title}}"></title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{|/css/bootstrap.min.css#{css.version}|}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.min.css" th:href="@{|/css/main.min.css#{css.version}|}" />
    <link rel="shortcut icon" type="image/x-icon" media="all" href="../static/images/icons/favicon.ico" th:href="@{images/icons/favicon.ico}"/>
    <!--/*@thymesVar id="reqJQuery" type="fragment"*/-->
    <th:block th:if="${reqJQuery}" >
    <script th:replace="fragments/dependencies :: jquery"></script>
    </th:block>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div sec:authorize="isAuthenticated()">
            <div th:replace="fragments/userFragments :: authenticated"></div>
        </div>
        <!--/*@thymesVar id="navActive" type="fragment"*/-->
        <div th:replace="fragments/navigation :: navigation"></div>
        <div id="logo">
            <a href="#" th:href="@{/}"><img src="../static/images/logo2.png" th:src="@{/images/logo2.png}" alt="logo" width="100%"></img></a>
        </div>
    </div>
    <section class="row main-layout">
        <!--/*@thymesVar id="headline" type="message"*/-->
        <h1 th:text="#{${headline}}"> </h1>
        <!--/*@thymesVar id="text" type="message"*/-->
        <article th:utext="#{${text}}" class="main-article">
        </article>
    </section>
    <!--/*@thymesVar id="columns" type="fragment"*/-->
    <th:block th:if="${columns}" >
    <div th:replace="fragments/Coloumns :: columns"></div>
    </th:block>
    <!--/*@thymesVar id="levelSelection" type="fragment"*/-->
    <th:block th:if="${levelSelection}" >
    <div th:replace="fragments/levels :: ${riddleType}"></div>
    </th:block>
</div>
</body>
<div th:replace="fragments/navigation :: nav-active"></div>
<div sec:authorize="isAuthenticated()">
<script>
    var profileOpener=document.querySelector(".profile-opener")
    var authHidden=true;
    var authenticated=document.querySelector(".authenticated");
    profileOpener.addEventListener("click",function(){
        if(authHidden) {
            authenticated.style.transform="translate(0,50px)";
            profileOpener.style.transform = "rotate(180deg)";
        } else {
            authenticated.style.transform="translate(0,-50px)";
            profileOpener.style.transform = "rotate(0deg)";
        }
        authHidden=!authHidden;
    });
</script>
</div>
</html>