<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--/*@thymesVar id="title" type="message"*/-->
    <title th:text="#{${title}}"></title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{|/css/bootstrap.min.css#{css.version}|}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.min.css" th:href="@{|/css/main.min.css#{css.version}|}" />
    <link rel="shortcut icon" type="image/x-icon" media="all" href="../static/images/icons/favicon.ico" th:href="@{/images/icons/favicon.ico}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div sec:authorize="isAuthenticated()">
            <div th:replace="fragments/userFragments :: authenticated"></div>
        </div>
        <!--/*@thymesVar id="navActive" type="fragment"*/-->
        <div th:replace="fragments/navigation :: navigation"></div>
        <div id="small-logo">
            <a href="#" th:href="@{/}"><img src="../static/images/logo2.png" th:src="@{/images/logo2.png}" alt="logo" width="100%"></img></a>
        </div>
    </div>
    <div class="riddle-frame">
    <div class="row riddle-headline center-block">
        <!--/*@thymesVar id="headline" type="message"*/-->
        <h1 class="text-center" th:text="#{${headline}}"></h1>
    </div>
    <!--/*@thymesVar id="riddleID" type="fragment"*/-->
    <!--/*@thymesVar id="riddleType" type="java"*/-->
    <div th:replace="fragments/riddles::${riddleType}+${riddleID}"></div>
</div>
</div>
<!--/*@thymesVar id="riddleID" type="fragment"*/-->
<!--/*@thymesVar id="riddleType" type="java"*/-->
<th:block th:with="riddleName=${riddleType + riddleID}"><div th:replace="fragments/riddles::spoiler"></div></th:block>
<!--/*@thymesVar id="riddleSolved" type="java"*/-->

<div th:replace="fragments/riddles::success"></div>

<!--/*@thymesVar id="riddleNumber" type="java"*/-->

<div th:replace="fragments/riddles::spoiler-operator"></div>
<!-- IMPORT SCRIPTS -->

<script th:src="@{|/js/main.js#{js.version}|}" type="text/javascript" src="../static/js/main.js"></script>
<!--/*@thymesVar id="reqJQuery" type="fragment"*/-->
<script th:replace="fragments/dependencies :: jquery"></script>
<!--/*@thymesVar id="reqJQueryUI" type="fragment"*/-->
<th:block th:if="${reqJQueryUI}" >
    <script th:replace="fragments/dependencies :: jqueryUI"></script>
</th:block>

<div th:replace="fragments/riddles::${riddleType}+${riddleID}+'_js'"></div>


</body>
<div th:replace="fragments/navigation :: nav-active"></div>
<div sec:authorize="isAuthenticated()">
    <script>
        var profileOpener=document.querySelector(".profile-opener")
        var authHidden=true;
        var authenticated=document.querySelector(".authenticated");
        profileOpener.addEventListener("click",function(){
            if(authHidden) {
                authenticated.style.transform="translate(0,50px)";
                profileOpener.style.transform = "rotate(180deg)";
            } else {
                authenticated.style.transform="translate(0,-50px)";
                profileOpener.style.transform = "rotate(0deg)";
            }
            authHidden=!authHidden;
        });
    </script>
</div>
</html>