<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<div class="row" th:fragment="columns">
        <section class="col-frame">
            <div class="col-big first">
                <a href="start">
                    <h2> Start </h2>
                    <div class="col-background">
                        <p> If you're new to this site, this is a good place to start. </p>
                    </div>
                </a>
            </div>
            <div class="col-big second" sec:authorize="isAnonymous()">
                <a href="login">
                    <h2> Login / Register </h2>
                    <div class="col-background">
                        <p> Log in or register to keep track of your scores and solved riddles. </p>
                    </div>
                </a>
            </div>
            <div class="col-big second" sec:authorize="isAuthenticated()">
                <a th:href="@{|user/${#authentication.name}|}">
                    <h2> <span sec:authentication="name"></span> </h2>
                    <div class="col-background">
                        <p> Go straight to your profile. </p>
                    </div>
                </a>
            </div>
            <div class="col-big third">
                <a href="riddles">
                    <h2> Riddles </h2>
                    <div class="col-background">
                        <p> You know what to do. Get right to the riddles. </p>
                    </div>
                </a>
            </div>
        </section>
</div>

</body>
</html>