<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="userNotFound">
    <h1>No! This user can't be found!</h1>
    <br/>
    <p>The requested user with ID
        <!--/*@thymesVar id="userID" type="java"*/-->
    <span th:text="${userID}"></span> could not be found!</p>
</th:block>

<th:block th:fragment="pageNotFound">
    <h1>Oh! That page wasn't found!</h1>
    <br/>
    <p>The requested page at "https://theblackcat.eu<!--/*@thymesVar id="path" type="java"*/--><span th:text="${path}"></span>" could not be found!</p>
    <p> It probably doesn't even exist!</p>
</th:block>

<th:block th:fragment="generalError">
    <h1>Oh! An error occurred!</h1>
    <br/>
    <p>Something went horribly wrong!</p>
</th:block>

<th:block th:fragment="noLogin">
    <h1>You don't have permissions to do this!.</h1>
    <br/>
    <p>Please login with the right user to access <span th:text="${path}"></span>!</p>
</th:block>

<th:block th:fragment="badToken">
    <h1>Your registration could not be validated.</h1>
    <br/>
    <p th:text="#{${errorMessage}}"> </p>
    <br/>
    <p> If you want to request a new token, click here: </p>
    <br/>
    <br/>
    <a th:href="@{/newtoken}" class="standard-button">New Verification Mail</a>
    <br/>
</th:block>


<th:block th:fragment="tokenExpired">
    <h1>Your token has expired.</h1>
    <br/>
    <p th:text="#{${errorMessage}}"> </p>
    <br/>
    <p> If you want to request a new token, click here: </p>
    <br/>
    <br/>
    <a th:href="@{/newtoken}" class="standard-button">New Verification Mail</a>
</th:block>
</body>
</html>