<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>

<th:block th:fragment="tutorials">
    <div class="row collection">
        <div th:each="riddle,count: ${tutorials}" class="col-md-2 level-block">
            <a th:href="@{|/start/${count.count}|}"
               th:text="#{${riddle.riddleName}+.headline}" th:id="${riddle.riddleName}">
            </a></div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <script th:inline="javascript">

            //<![CDATA[
            $(document).ready(function() {
            var collection = document.querySelector(".collection");
            var solved = [[${solved}]];
            for(var i=0; i < solved.length; i++) {;
                var toColour = document.getElementById(solved[i]);
                toColour.style.color = "#bdf400";
            }
        });

            //]]>
        </script>
    </div>
</th:block>

<th:block th:fragment="riddles">
    <div class="row collection">
        <div th:each="riddle,count: ${riddles}" class="col-md-2 level-block">
            <a th:href="@{|/riddles/${count.count}|}"
               th:text="#{${riddle.riddleName}+.headline}" th:id="${riddle.riddleName}">
            </a></div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <script th:inline="javascript">

            //<![CDATA[
            $(document).ready(function() {
                var collection = document.querySelector(".collection");
                var solved = [[${solved}]];
                for(var i=0; i < solved.length; i++) {;
                    var toColour = document.getElementById(solved[i]);
                    toColour.style.color = "#bdf400";
                }
            });

            //]]>
        </script>
    </div>
</th:block>

</body>
</html>