<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<th:block th:fragment="qqqwort">
    <div class="row riddle-headline center-block">
        <p class="text-center"> You're looking for "anorangebox"! </p>
    </div>
</th:block>

<th:block th:fragment="pageNotFound">
    <div class="row riddle-headline center-block">
        <p class="text-center"> This is not the page you're looking for... </p>
    </div>
</th:block>

<th:block th:fragment="emailSent">
    <div class="row riddle-headline center-block">
        <p class="text-center"> An email has been sent to <span th:text="${userEmail}">your email address</span>! </p>
        <br/>
        <br/>
        <a class="standard-button" href="/" th:href="@{/}">Back to Home Page</a>
    </div>
</th:block>
<th:block th:fragment="impressum">
    <div class="row main-layout">
        <button class="small-button impressum-button" id="eng-button"><img src="/images/uk.png" th:src="@{/images/uk.png}" alt="english"/></button>
        <button class="small-button impressum-button" id="de-button"><img src="/images/germany.png" th:src="@{/images/germany.png}" alt="german"/></button>
        <div class="impressum">
            <div id="german">
                <h1> Impressum</h1>
            <h5>Angaben gemäß § 5 TMG:</h5>
            <p>Joshua Stübner <br/> Gronenborner Weg 12 <br/> 51377 Leverkusen</p>
            <h5>Kontakt:</h5>
            <p>Tel. 0049-(0) 152-52481201</p>
            <p>E-Mail: <a href='mailto:joshstuebner@gmail.com'>joshstuebner[at]gmail.com</a></p>
            <h5>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h5>
            <p>Joshua Stübner <br/> Gronenborner Weg 12 <br/> 51377 Leverkusen</p>
            <h3>Haftungsausschluss</h3>
            <h5>Haftung für Inhalte</h5>
            <p>	Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG 	 sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, 	die auf eine rechtswidrige Tätigkeit hinweisen.</p>
            <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
            <h5>Haftung für Links </h5>
            <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
            <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
            <h5>Urheberrecht</h5>
            <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
            <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
            <h3>Datenschutzerklärung</h3>
            <h5>Datenschutz</h5>
            <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
            <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
            <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
            <h5>Cookies</h5>
            <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.</p>
            <p>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</p>
            <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>
            <h5>Server-Log-Files</h5>
            <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
            <ul>
                <li>Browsertyp und Browserversion</li>
                <li>verwendetes Betriebssystem</li>
                <li>Referrer URL</li>
                <li>Hostname des zugreifenden Rechners</li>
                <li>Uhrzeit der Serveranfrage</li>
            </ul>
            <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>
            <h5>Datenschutzerklärung Analytics</h5>
            <p> uaenuiaen</p>
            <h5>Kommentarfunktion auf dieser Webseite</h5>
            <p>Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
            <h5>SSL-Verschlüsselung</h5>
            <p>Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</p>
            <p>Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</p>
            <h5>Auskunft, Löschung, Sperrung</h5>
            <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
            </div>
            <div id="english">
                <h1>Legal Disclosure</h1>
                <h5>Information in accordance with section 5 TMG:</h5>
                <p>Joshua Stübner <br/> Gronenborner Weg 12 <br/> 51377 Leverkusen</p>
                <h5>Contact:</h5>
                <p>Tel. 0049-(0) 152-52481201</p>
                <p>E-Mail: <a href='mailto:joshstuebner@gmail.com'>joshstuebner[at]gmail.com</a></p>
                <h5>Person responsible for content in accordance with 55 Abs. 2 RStV:</h5>
                <p>Joshua Stübner <br/> Gronenborner Weg 12 <br/> 51377 Leverkusen</p>
                <h3>Disclaimer</h3>
                <h5>Accountability for content</h5>
                <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.</p>
                <p>Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).</p>
                <h5>Accountability for links</h5>
                <p>Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.</p>
                <h5>Copyright</h5>
                <p>Our web pages a<a th:href="@{/entry}" ><div class="center-message">
                <div class="triangle" id="triangle1"></div>
                <div class="triangle" id="triangle2">
                    <div class="circle"></div>
                </div>
                <H1 class="welcome">shua</H1>
                <H1 class="welcome" id="logo-2">Jo</H1>
            </div>
            </a>nd their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights.</p>
                <p>Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).</p>
                <h3>Privacy Statement</h3>
                <h5>General</h5>
                <p>Your personal data (e.g. title, name, house address, e-mail address, phone number, bank details, credit card number) are processed by us only in accordance with the provisions of German data privacy laws.</p>
                <p>The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data. This data privacy policy applies only to our web pages. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.</p>
                <h5>Cookies</h5>
                <p>To optimize our web presence, we use cookies. These are small text files stored in your computer's main memory. These cookies are deleted after you close the browser. Other cookies remain on your computer (long-term cookies) and permit its recognition on your next visit. This allows us to improve your access to our site.</p>
                <p>You can prevent storage of cookies by choosing a "disable cookies" option in your browser settings. But this can limit the functionality of our Internet offers as a result.</p>
                <h5>Inventory data</h5>
                <p>Your personal data, insofar as these are necessary for this contractual relationship (inventory data) in terms of its establishment, organization of content and modifications, are used exclusively for fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed to the supplier of the goods. </p>
                <p>Without your explicit consent or a legal basis, your personal data are not passed on to third parties outside the scope of fulfilling this contract. After completion of the contract, your data are blocked against further use. After expiry of deadlines as per tax-related and commercial regulations, these data are deleted unless you have expressly consented to their further use.</p>
                <h5>Privacy on Analytics</h5>
                <p> uaenuiaen</p>
                <h5>Disclosure</h5>
                <p>According to the Federal Data Protection Act, you have a right to free-of-charge information about your stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be directed to the email address listed above.</p>
            </div>
        </div>
        <a href="#de-button" class="small-button backToTop-button"></a>
    </div>
    <script>
        var germanText = document.getElementById("german");
        var englishText = document.getElementById("english");
        var germanButton = document.getElementById("de-button");
        var englishButton = document.getElementById("eng-button");
        englishButton.onclick = function (f) {
            germanText.style.display = "none";
            englishText.style.display = "block";
        };
        germanButton.onclick = function (f) {
            englishText.style.display = "none";
            germanText.style.display = "block";
        };
    </script>
</th:block>
</body>
</html>