<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="navigation" class="navigation">
    <ul>
        <li><a class="nav-entry" id="home" href="#" th:href="@{/}"> Home </a></li>
        <li><a class="nav-entry" id="start" href="#" th:href="@{/start}"> Start </a></li>
        <li><a class="nav-entry" id="riddles" href="#" th:href="@{/riddles}"> Riddles </a></li>
        <li><a class="nav-entry" id="about" href="#" th:href="@{/about}"> About </a></li>
        <li><a class="nav-entry" id="user" href="#" th:href="@{/user/overview}"> Users </a></li>
    </ul>
</div>

<th:block th:fragment="nav-active">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var navToActivate = [[${navActive}]];
        var activeNavigation = document.getElementById(navToActivate);
        activeNavigation.id = "nav-active";
        /*]]>*/

    </script>

</th:block>

</body>
</html>