<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="spoiler">
    <div id="sideHelp" class="side-helper">
        <!--/*@thymesVar id="riddleName" type="message"*/-->
        <p id="riddle-description" th:text="#{${riddleName}+.text}">description</p>
        <br></br>
        <p class="text-danger" th:text="#{${riddleName}+.warning}">Warning!</p>
        <button class="small-button" id="walktrough-button"><img src="/images/plus.png" th:src="@{/images/plus.png}"/></button>
        <div id="walktrough">
            <br/>
            <p>Walkthrough:</p>
            <ol>
                <div th:utext="#{${riddleName}+.steps}"></div>
            </ol>
        </div>
    </div>
</th:block>

<th:block th:fragment="spoiler-operator">
    <script>
        var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
        var spoilerButton=document.querySelector(".opener")
        var spoilerHidden=true;
        var sideHelper=document.querySelector(".side-helper");
        var transform = 50 - (w * 0.015);
        var walktroughButton = document.querySelector("#walktrough-button");
        var walktroughText = document.querySelector("#walktrough");
        spoilerButton.addEventListener("click",function(){
            if(spoilerHidden) {
                sideHelper.style.display="block";
                sideHelper.style.transform="translateX("+transform+"px)";
                sideHelper.style.msTransform="translateX("+transform+"px)";
                sideHelper.style.webkitTransform="translateX("+transform+"px)";
            } else {
                sideHelper.style.transform="translateX(1000px)";
                sideHelper.style.msTransform="translateX(1000px)";
                sideHelper.style.webkitTransform="translateX(1000px)";
            }
            spoilerHidden=!spoilerHidden;
        });
        walktroughButton.addEventListener("click", function() {
            walktroughButton.style.display = "none";
            walktroughText.style.display = "block";
        })
    </script>
</th:block>

<th:block th:fragment="success">
    <div id="success" class="success-window center-block">
        <p>You successfully solved this riddle!</p>
        <br></br>
        <!--/*@thymesVar id="riddleID" type="java"*/-->
        <a th:href="@{./{next}(next=${riddleID}+1)}" class="center-block standard-button">Next One!</a>
        <a th:href="@{./}" class="center-block standard-button">Overview</a>
    </div>
</th:block>

<!--_____ Tutorial 1 _____ -->
<th:block th:fragment="tutorial1">
    <div class="row riddle-container center-block" id="map">
        <div class="clickMe" id="clickMe"></div>
        <img class="img-responsive center-block image-riddle" src="../../static/images/tutMap_back.png" th:src="@{/images/tutMap_back.png}" alt="click map"></img>
        <button class="center-block standard-button opener">Spoiler</button>
    </div>
</th:block>

<th:block th:fragment="tutorial1_js">
    <script type="text/javascript">
        var target=document.getElementById("clickMe");
        var map=document.getElementById("map");
        var success=document.getElementById("success");
        var clicked=0;
        map.addEventListener("click", function(e) {
            e.preventDefault();
            if (e.target == target) {
                clicked++;
                if (clicked>=3) {
                    success.style.display="block";
                    solveRiddle();
                }
            } else {
                clicked = 0;
            }
        });
    </script>
</th:block>

<!--_____ Tutorial 2 _____ -->
<th:block th:fragment="tutorial2">
    <div class="row riddle-container center-block">
        <img class="img-responsive center-block image-riddle" src="../../static/images/konami.png" th:src="@{/images/konami.png}" alt="konami code"></img>
        <button class="center-block standard-button opener">Spoiler</button>
    </div>
</th:block>

<th:block th:fragment="tutorial2_js">
    <script type="text/javascript">/*<![CDATA[*/var code=[38,38,40,40,37,39,37,39,65,66],success=document.getElementById("success"),counter=0;addEventListener("keydown",function(a){validateKey(a.keyCode,counter)?(counter++,10<=counter&&(success.style.display="block",solveRiddle())):counter=0});
    function validateKey(a,b){return a==code[b]?!0:!1};/*]]>*/
    </script>
</th:block>


<!--_____ Tutorial 3 _____ -->
<th:block th:fragment="tutorial3">
    <div class="row riddle-container center-block">
        <div class="center-block text-riddle">
            <h3> Go <a href="https://en.wikipedia.org/wiki/Code" target="_blank" title="https://en.wikipedia.org/wiki/Code
						" class="standard-link">here</a> and solve the following riddle to obtain the password!</h3>
            <table class="riddle-table">
                <tr>
                    <td>2.1</td>
                    <td>Head</td>
                    <td>6</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>Head</td>
                    <td>1</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>2.2</td>
                    <td>Para</td>
                    <td>7</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2.3</td>
                    <td>Head</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>Para</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td>Head</td>
                    <td>1</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>2.6</td>
                    <td>Para</td>
                    <td>5</td>
                    <td>7</td>
                </tr>
            </table>
            <input type="text" name="password" id="password" autocomplete="off" class="riddle-password"></input>
            <label for="password"> Password </label>
            <button id="submit" class="standard-button"> Submit</button>
        </div>
        <button class="center-block standard-button opener">Spoiler</button>
    </div>
</th:block>

<th:block th:fragment="tutorial3_js">
    <script th:src="@{/js/main.js}"></script>
    <script type="text/javascript">
        var submit=document.getElementById("submit");
        var success=document.getElementById("success");
        submit.addEventListener("click",function(){
            if(-15843678==document.querySelector("#password").value.hashCode()) {
                success.style.display="block";
                solveRiddle();
            }});
    $(document).ready(function(){$("#password").keypress(function(a){
        if (13==a.keyCode) {
            $(submit).click()
        }})});
    </script>
</th:block>

<!--_____ Tutorial 4 _____ -->
<th:block th:fragment="tutorial4">
    <div class="row riddle-container center-block">
        <div class="center-block text-riddle">
            <div class="side">
                <div class="side-inner">
                    <p id="riddle-phrase">
                        <span class="lb">f</span><span class="re">i</span><span class="ye">r</span><span class="re">s</span>
                        <span class="ye">t</span> <span class="re">u</span><span class="ye">s</span><span class="ye">e</span>
                        <span class="ye">t</span><span class="ye">h</span><span class="ye">e</span> <span class="gr">g</span>
                        <span class="ye">r</span><span class="re">e</span><span class="ye">e</span><span class="re">n</span>
                        <span class="ye">,</span> <span class="ye">t</span><span class="ye">h</span><span class="ye">e</span>
                        <span class="re">n</span> <span class="ye">t</span><span class="ye">h</span><span class="ye">e</span>
                        <span class="re">l</span><span class="gr">i</span><span class="ye">g</span><span class="ye">h</span>
                        <span class="ye">t</span><span class="ye">b</span><span class="ye">l</span><span class="ye">u</span>
                        <span class="ye">e</span> <span class="ye">l</span><span class="ye">e</span><span class="re">t</span>
                        <span class="ye">t</span><span class="ye">e</span><span class="gr">r</span><span class="ye">s</span>
                        <span class="ye">t</span><span class="re">o</span> <span class="lb">f</span><span class="ye">o</span>
                        <span class="ye">r</span><span class="ye">m</span> <span class="ye">t</span><span class="ye">h</span>
                        <span class="lb">e</span> <span class="ye">p</span><span class="gr">a</span><span class="ye">s</span>
                        <span class="ye">s</span><span class="re">w</span><span class="re">o</span><span class="ye">r</span>
                        <span class="ye">d</span><span class="ye">.</span>
                    </p>
                </div>
            </div>
            <div class="side">
                <div class="side-inner">
                    <button id="green" class="standard-button">Green</button>
                    <button id="red" class="standard-button">Red</button>
                    <button id="blue" class="standard-button">Blue</button>
                    <button id="yellow" class="standard-button">Yellow</button>
                </div>
            </div>
            <br></br>
            <input type="text" name="password" id="password" autocomplete="off" class="riddle-password"></input>
            <label for="password"> Password </label>
            <button id="submit" class="standard-button"> Submit</button>
        </div>
        <button class="center-block standard-button opener">Spoiler</button>
    </div>
</th:block>

<th:block th:fragment="tutorial4_js">
    <script type="text/javascript">
        var greenbtn=document.querySelector("#green"),bluebtn=document.querySelector("#blue"),redbtn=document.querySelector("#red"),yellowbtn=document.querySelector("#yellow");greenbtn.addEventListener("click",function(){$(".ye").css("color","transparent");$(".re").css("color","transparent");$(".lb").css("color","transparent");$(".gr").css("color","green")});
        bluebtn.addEventListener("click",function(){$(".ye").css("color","transparent");$(".re").css("color","transparent");$(".gr").css("color","transparent");$(".lb").css("color","#87C0DE")});redbtn.addEventListener("click",function(){$(".ye").css("color","transparent");$(".lb").css("color","transparent");$(".gr").css("color","transparent");$(".re").css("color","red")});
        yellowbtn.addEventListener("click",function(){$(".re").css("color","transparent");$(".lb").css("color","transparent");$(".gr").css("color","transparent");$(".ye").css("color","yellow")});
        /*<![CDATA[*/
    var submit=document.getElementById("submit");
    var success=document.getElementById("success");
    submit.addEventListener("click",function(){
        var a=document.querySelector("#password").value;
        37931892==a.hashCode()?(success.style.display="block",solveRiddle()):a.hashCode()
        if (a.hashCode() == -1610918119) {
            console.log("secret");
        }
    });
        /*]]>*/
        $(document).ready(function(){$("#password").keypress(function(a){
            if (13==a.keyCode) {
                $(submit).click()
            }})});
    </script>
</th:block>

<!--_____ Tutorial 5 _____ -->
<th:block th:fragment="tutorial5">
    <div class="row riddle-container center-block">
        <div class="row riddle-container center-block">
            <div class="center-block text-riddle">
                <div class="area">
                    <p style="font-size:16px;margin:100px 50px 100px 100px">https://theblackcat.eu/misc/qqqwort to get the password.</p>
                </div>
                <input name="password" id="password" autocomplete="off" class="riddle-password"></input>
                <label for="password">Password</label>
                <button id="submit" class="standard-button">Submit</button>
            </div>
            <button class="center-block standard-button opener">Spoiler</button>
        </div>
    </div>
</th:block>

<th:block th:fragment="tutorial5_js">
    <script> /*<![CDATA[*/for(var i=0;i<20;i++){var div=document.createElement("div");div.className="block",div.id="draggable";var posX=i%8*10+5,posY=i%3*6;div.style.left=posX+"%",div.style.top=posY+"%",$(".area").append(div)}/*]]>*/</script>
    <script>
        /*<![CDATA[*/
        var submit=document.getElementById("submit");
        var success=document.getElementById("success");
        submit.addEventListener("click",function(){
            var a=document.querySelector("#password").value;
            -1158359216==a.hashCode()?(success.style.display="block",solveRiddle()):a.hashCode()
        });
        /*]]>*/
    </script>
    <script>$(document).ready(function(){
        $(".block").draggable()
        $("#password").keypress(function(a){
            if (13==a.keyCode) {
                $(submit).click()
            }})
        })
    </script>
</th:block>


<!--_____ Riddle 1 _____ -->
<th:block th:fragment="riddle1">
    <div class="row riddle-container center-block">
        <img class="img-responsive center-block image-riddle-big" id="mainImage" src="/images/riddle1.jpg" th:src="@{/images/riddle1.jpg}" alt="riddle 1"/>
        <div class="riddle1-clickMe"></div>
        <div class="riddle1-block" id="draggable"><img src="/images/rockSmall2.png" th:src="@{/images/rockSmall2.png}"/></div>

        <button id="opener" class="center-block standard-button opener">Spoiler</button>
    </div>
    <div class="cypher-book">
        <button class="small-button closer-button"><img src="/images/close.png" th:src="@{/images/close.png}"/></button>
        <img class="img-responsive center-block image-riddle-big" src="/images/riddle1-book.jpg" th:src="@{/images/riddle1-book.jpg}" alt="riddle 1 book"/>
    </div>
    <div class="input-window">
        <input name="password" id="password" autocomplete="off" class="riddle-password"/>
        <label for="password" class="password-label">Password</label>
        <button id="submit" class="standard-button">Submit</button>
    </div>

</th:block>

<th:block th:fragment="riddle1_js">
    <script type="text/javascript">
        /*<![CDATA[*/
        var riddle1 = document.querySelector(".riddle-frame");
        var riddleClickMe = document.querySelector(".riddle1-clickMe");
        var riddleBook = document.querySelector(".cypher-book");
        var closingButton = document.querySelector(".closer-button");
        var bookHidden = true;

        riddle1.addEventListener("click", function(e) {
            e.preventDefault();
            if (e.target==riddleClickMe) {
                riddleBook.style.display = "block";
                bookHidden = false
            }
            else if ((bookHidden===false) && e.target!=riddleBook) {
                riddleBook.style.display="none";
                bookHidden = true;

            }


        });
        closingButton.onclick = function(f) {
            riddleBook.style.display="none";
            bookHidden = true;
        }
        /*]]>*/
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        var code=[52,50,51];
        var counter = 0;
        var imageToChange = document.querySelector("#mainImage");
        var mainRiddleContainer = document.querySelector(".riddle-container");
        var inputWindow = document.querySelector(".input-window");
        var inputHidden = true;
        addEventListener("keydown", function(a) {
            if (validateKey(a.keyCode, counter)) {
                counter++;
                if (counter >= 3) {
                    $(imageToChange).effect("pulsate", 50, function() {imageToChange.style.display="block";imageToChange.src="/images/riddle1-2.jpg";});
                    var riddleTarget = document.createElement("div");
                    riddleTarget.className="riddleTargetBlock riddle1-target";
                    $(mainRiddleContainer).append(riddleTarget);
                    mainRiddleContainer.addEventListener("click", function(x) {
                        if(x.target==riddleTarget) {
                            inputWindow.style.display = "block";
                            inputHidden = false;
                        } else if ((inputHidden===false) && x.target!=inputWindow) {
                            inputWindow.style.display = "none";
                            inputHidden = true;
                        }
                    });
                }
            } else {
                counter = 0;
            }
        });



        var successWindow = document.querySelector(".success-window");
        var riddleButtonSolver = document.querySelector("#submit");

        riddleButtonSolver.addEventListener("click", function() {
            console.log(document.getElementById("password").value);
            console.log(document.getElementById("password").value.hashCode());

            if (document.getElementById("password").value.hashCode()===-1423892555) {
                successWindow.style.display = "block";
                inputWindow.style.display = "none";
                solveRiddle();
            }
        });
        /*]]>*/
    </script>

    <script type="text/javascript">
        var target=document.getElementById("clickMe");
        var map=document.getElementById("map");
        var success=document.getElementById("success");
        var clicked=0;
        map.addEventListener("click", function(e) {
            e.preventDefault();
            if (e.target == target) {
                clicked++;
                if (clicked>=3) {
                    success.style.display="block";
                    solveRiddle();
                }
            }
        });
    </script>
    <script>
        $(document).ready(function(){
        $(".riddle1-block").draggable()
        $("#password").keypress(function(a){
            if (13==a.keyCode) {
                $(submit).click()
            }})
    })
    </script>
</th:block>

<th:block th:fragment="riddle2">
    <div class="row riddle-container center-block">
        <div class="input-textarea">
            <div class="textHolder" id="riddle2-output"></div>
            <div class="input-div">
                <input autofocus="true" class="textInput" type="text" id="riddle2-input"/>
                <input class="submit-button" type="submit" id="submit-button" value="Enter"/>
                <input type="hidden" id="hiddenUserName" th:value="${#authentication.getName()}"/>
            </div>
        </div>


        <button id="opener" class="center-block standard-button opener">Spoiler</button>
        <p></p>
    </div>
</th:block>

<th:block th:fragment="riddle2_js">
    <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>

    <script th:src="@{/js/riddle2.js}" type="text/javascript" src="../static/js/riddle2.js"></script>
</th:block>

</body>
</html>