<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<th:block th:fragment="Registration">
    <div class="row main-layout">
        <h1> Register new user </h1>
        <p th:if="${errorMessage}" class="error" th:text="#{registrationError.unexpectedProblem}">Wrong user or password Please check again</p>
        <div class="main-article">
            <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="registration-form">
                <div class="registration-box">
                    <table>
                        <tr>
                            <td>Username: </td>
                            <td><span title="4 to 15 characters, alphanumeric and _, not case-sensitive"><input id="userName" type="text" name="userName" th:field="*{userName}" class="registration-input"/></span></td>
                            <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect Username</td>
                        </tr>

                        <tr>
                            <td>Email: </td>
                            <td><input id="email" type="email" name="email" th:field="*{userEmail}" class="registration-input"></input></td>
                            <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Incorrect Email</td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td><span title="8 or more characters, _!@#$%^*-&amp;, no common passwords"><input id="password" type="password" name="password" th:field="*{userPass}" class="registration-input"/></span></td>
                            <td th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}">Incorrect Password</td>
                        </tr>
                        <tr>
                            <td>Confirm Password: </td>
                            <td><input id="passwordConfirm" type="password" name="passwordConfirm" th:field="*{userPassConfirm}" class="registration-input"/></td>
                            <td th:if="${#fields.hasErrors('userPassConfirm')}" th:errors="*{userPassConfirm}">Incorrect Password</td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitForm" value="Register" class="standard-button registration-submit"/>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="Login">
    <div class="row main-layout">
        <h1> Login </h1>
        <p th:if="${param.error}" class="error" th:text="#{login.error}">Wrong user or password Please check again</p>
        <div class="main-article">
            <form action="#" th:action="@{/login}" method="post" class="registration-form">
                <div class="registration-box">
                    <table>
                        <tr>
                            <td>Username/Email: </td>
                            <td><span title="4 to 15 characters, alphanumeric and _, not case-sensitive"><input id="username" type="text" name="username" class="registration-input"/></span></td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td><span title="8 or more characters, _!@#$%^*-&amp;, no common passwords"><input id="password" type="password" name="password" class="registration-input"/></span></td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitForm" value="Login" class="standard-button registration-submit"/>
            </form>
            <p>Forgot your password? Reset it <a href="/passwordlost">here</a>!</p>
            <p>Not yet registered? Do it <a href="/register">here</a>!</p>
        </div>
    </div>
</th:block>


<th:block th:fragment="Settings">
    <div class="row main-layout">
        <h1> Update settings for <span th:text="${#authentication.name}"></span> </h1>
        <div class="main-article">
            <form action="#" th:action="@{|/user/${user.getUserName()}/settings|}" th:object="${user}" method="post" class="registration-form">
                <div class="registration-box">
                    <table class="registration-table">
                        <tr>
                            <td>New Email: </td>
                            <td><input id="email" type="email" name="email" th:field="*{userEmail}" class="registration-input"/></td>
                            <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Incorrect Email</td>
                        </tr>
                        <tr>
                            <td>New Password: </td>
                            <td><span title="8 or more characters, _!@#$%^*-&amp;, no common passwords"><input id="password" type="password" name="password" th:field="*{userPass}" class="registration-input"/></span></td>
                            <td th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}">Incorrect Password</td>
                        </tr>
                        <tr>
                            <td>Confirm new Password: </td>
                            <td><input id="passwordConfirm" type="password" name="passwordConfirm" th:field="*{userPassConfirm}" class="registration-input"/></td>
                            <td th:if="${#fields.hasErrors('userPassConfirm')}" th:errors="*{userPassConfirm}">Incorrect Password</td>
                        </tr>
                        <tr>
                            <td>Change about message: </td>
                        </tr>
                        <tr>
                            <td><span title="200 characters maximum"><textarea id="userMessage" type="text" name="userMessage" th:field="*{userMessage}" class="textarea" rows="3" cols="45" ></textarea></span></td>
                            <td th:if="${#fields.hasErrors('userMessage')}" th:errors="*{userMessage}">Incorrect Message</td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitForm" value="Change" class="standard-button registration-submit"/>
                <a class="standard-button delete" th:href="@{|/user/${user.getUserName()}/delete|}">Delete User</a>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="authenticated">
    <div class="profile-opener-button">
        <button class="profile-opener"></button>
    </div>
    <div class="authenticated">

        <img th:src="@{|http://api.adorable.io/avatar/${#authentication.getName()}|}" width="40px" height="40px"></img>
        <a th:href="@{|/user/${#authentication.name}|}" class="username" sec:authentication="name">[username]</a>
        <!--/*@thymesVar id="getUserPoints" type="java"*/-->
        <p class="points" th:text="${#authentication.principal.getUserPoints()}">[points]</p>
        <button class="small-button logout-button" id="logout"></button>
    </div>
    <div class="success-window" id="confirm-logout">
        <p> Do you really want to logout?</p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="standard-button" value="Yes"/>
        </form>
        <button class="standard-button" id="cancel-logout">No</button>
    </div>
    <script type="text/javascript">
        var logout=document.getElementById("logout");
        var confirmlogout=document.getElementById("confirm-logout");
        var cancelLogout = document.getElementById("cancel-logout")
        logout.addEventListener("click", function(e) {
            confirmlogout.style.display = "block";
        });
        cancelLogout.addEventListener("click", function(e) {
            confirmlogout.style.display = "none";
        });
    </script>
</th:block>
<th:block th:fragment="mainPage">
    <div class="row">
        <div class="profile-overview">
            <div class="profile-col">
                <a class="small-button edit-button" th:href="@{|/user/${username}/settings|}"><img src="/images/settings.png" th:src="@{/images/settings.png}"/> </a>
                <img th:src="@{|http://api.adorable.io/avatar/${#authentication.name}|}"/>
                <!--<img th:src="@{${useravatar}}"/>-->
            </div>
            <div class="profile-col username-col">
                <h3 th:text="${username}"> [username] </h3>
                <p th:text="${usermessage}" class="userMessage"> [message] </p>
            </div>
            <div class="profile-col points-col">
                <!--/*@thymesVar id="userpoints" type="java"*/-->
                <p style="color: #ffb300" th:text="${userpoints}+'  P'"> [points] </p>
                <p th:text="'# '+${userrank}"> [rank] </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="profile-overview center-block">
           <!-- <div th:text="${toString}">Please insert More here</div>
            <div th:text="${riddlesSolved}">Riddles</div> -->
            <div class="collection">
                <h5 class="collection-headline">Levels solved:</h5>
                <div th:each="riddle: ${riddlesSolved}"
                     th:text="#{${riddle}+.headline}" class="col-md-2 level-block userPage-level-block">riddle</div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="Delete">
    <div class="row main-layout">
        <h1> Delete user <span th:text="${user.getUserName()}">user</span> </h1>
        <p th:if="${param.error}" class="error" th:text="#{delete.error}">Wrong user or password Please check again</p>
        <div class="main-article">
            <form action="#" th:action="@{|/user/${user.getUserName()}/delete|}" th:object="${user}" method="post" class="registration-form">
                <div class="registration-box">
                    <table>
                        <tr>
                            <td>Email: </td>
                            <td><input id="email" type="email" name="email" th:field="*{userEmail}" class="registration-input"/></td>
                            <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Incorrect Email</td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td><span title="8 or more characters, _!@#$%^*-&amp;, no common passwords"><input id="password" type="password" name="password" th:field="*{userPass}" class="registration-input"/></span></td>
                            <td th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}">Incorrect Password</td>
                        </tr>
                    </table>
                </div>
                <p>Are you sure you want to delete your account?</p>
                <input type="submit" name="submitForm" value="Yes, delete" class="standard-button registration-submit"/>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="resendConfirmation">
    <div class="row main-layout">
        <h1> Resend Confirmation Email</h1>
        <div class="main-article">
            <form action="#" th:action="@{/resendconfirmation}" method="post" class="registration-form" th:object="${user}">
                <div class="registration-box">
                    <table>
                        <tr>
                            <td>Email: </td>
                            <td><input type="email" name="email" th:field="*{userEmail}" class="registration-input"/></td>
                            <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Incorrect Email</td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitForm" value="Resend Email" class="standard-button registration-submit"/>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="enterToken">
    <div class="row main-layout">
        <h1>Activate your account</h1>
        <div class="main-article">
            <form action="#" th:action="@{/confirmregistration}" method="get" class="registration-form">
                <div class="registration-box">
                    <table>
                        <tr>
                            <td>Verification Token: </td>
                            <td><input type="text" name="token" th:value="${token}" class="registration-input"/></td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitForm" value="Activate Account" class="standard-button registration-submit"/>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="passwordLost">
    <div class="row main-layout">
        <h1>Request password reset</h1>
        <br/>
        <p>Enter your Email below. We'll send you an email with instructions on how to reset your password.</p>
        <p th:if="${errorMessage}" class="error" th:text="#{errorMessage}">Wrong user or password Please check again</p>
        <div class="main-article">
            <form action="#" th:action="@{/passwordlost}" th:object="${user}" method="post" class="registration-form">
                <div class="registration-box">
                    <table>
                        <tr>
                            <td>Email: </td>
                            <td><input type="email" name="email" th:field="*{userEmail}" class="registration-input"/></td>
                            <td th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}">Incorrect Email</td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitForm" value="Reset" class="standard-button registration-submit"/>
            </form>
        </div>
    </div>
</th:block>

<th:block th:fragment="user-overview">

    <div class="profile-overview center-block">
    <div class="row collection">
        <div style="text-align: center">
            <button class="standard-button" id="leaderboard">Leaderboard</button>
            <button class="standard-button" id="searchUser">Search user</button>
        </div>
        <div class="leaderboard-container center-block">
            <h1 style="text-align: center">Leaderboard</h1>
            <br/>
            <table class="leaderboard-table">
                <tr>
                    <th>Rank</th>
                    <th class="leaderboard-username">Name</th>
                    <th>Points</th>
                </tr>
                <tr th:each="user,count: ${topTenUser}">
                    <td th:text="${count.count}">Rank</td>
                    <td class="leaderboard-username"><a th:href="@{|/user/${user.userName}|}" th:text="${user.userName}">UserName</a> </td>
                    <td th:text="${user.userPoints}"></td>
                </tr>
            </table>
        </div>
        <div class="user-search center-block">
            <form action="#" th:action="@{/user/findUser}" method="get" class="registration-form">
                <div class="registration-box center-block">
                        <h1>Search for user</h1>
                        <br/>
                        <input type="text" name="searchUser" class="registration-input"/>
                        <input type="submit" name="submitForm" value="Search" class="standard-button registration-submit"/>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        var leaderboardButton = document.querySelector("#leaderboard");
        var searchUserButton = document.querySelector("#searchUser");
        var leaderboardContainer = document.querySelector(".leaderboard-container");
        var userSearchContainer = document.querySelector(".user-search")
        leaderboardButton.style.background = "rgba(50,50,50,0.5)"

        leaderboardButton.onclick = function (f) {
            userSearchContainer.style.display = "none";
            leaderboardContainer.style.display = "block";
            leaderboardButton.style.background = "rgba(50,50,50,0.5)"
            searchUserButton.style.background = "rgba(48,48,48,.8)"
        };
        searchUserButton.onclick = function (f) {
            leaderboardContainer.style.display = "none";
            userSearchContainer.style.display = "block";
            searchUserButton.style.background = "rgba(50,50,50,0.5)"
            leaderboardButton.style.background = "rgba(48,48,48,.8)"
        };
    </script>
    <div th:if="${userNotFound}!=null">
        <script th:inline="javascript">
            //<![CDATA[
            $(document).ready(function() {
                var userNameNotFound = [[${userNotFound}]];
                var errorCode = document.createElement("p");
                var errorCodeText = document.createTextNode("Sorry! The user " + userNameNotFound + " could not be found. Please try again.");
                errorCode.appendChild(errorCodeText);
                $(".user-search").append(errorCode);
                $(".user-search").css("display", "block");
                $(".leaderboard-container").css("display", "none");
                $("#searchUser").css("background", "rgba(50,50,50,0.5)");
                $("#leaderboard").css("background", "rgba(48,48,48,0.8)");
            });

            //]]>
        </script>
    </div>

</th:block>
</body>
</html>